body {
  //background: #f2f2f2;
}
md-input-container .md-input {
  border-style: solid;
}
.Page {
  background: transparent;
}
.Page .Page-Container {
  background: transparent;
  padding: 8px 16px;
}
.Page .Page-Container md-card {
  width: 940px;
}
.Page .Page-Container md-card md-toolbar:first-child {
  border-radius: 3px 3px 0 0;
}
.Page .Page-Container md-card md-card-content.language-markup {
  padding: 8px 0 0 0;
}
.Page .Page-Container md-card md-card-content li {
  line-height: 26px;
}
@media (max-width: 1240px) {
  .Page .Page-Container md-card {
    width: 100%;
  }
}
.Page .Page-Container pre[class*="language-"] {
  border-radius: 0;
  margin-bottom: 0;
}