/*
.validation-messages {
/!*  height : 50px;
  width  : 350px;*!/
}

.validation-messages.ng-active-add {
  transition       : 0.3s linear all;
  background-color : #000000;
}

.validation-messages.ng-active {
  background-color : #000000;
}

.validation-messages.ng-inactive-add {
  transition       : 0.3s linear all;
  background-color : white;
}

.validation-messages.ng-inactive {
  background-color : white;
}

.validation-message {
  color : white;
}

.validation-message.ng-enter {
  transition : 0.3s linear all;
  color      : transparent;
}

.validation-message.ng-enter-active {
  color : white;
}

.validation-message.ng-leave {
  transition : 0.3s linear all;
  color      : white;
}

.validation-message.ng-leave-active {
  color : transparent;
}
*/
